#disable_html_escaping()
#if ($value)
<div class="shorten" id="${customField.id}-field">
    #foreach ($singleValue in $value)
        $textutils.htmlEncode($singleValue.name)#commaonly ($value)
    #end
</div>
#end