{namespace ServiceDesk.Templates.Agent.SetPassword}

/**
 * Agent Set password view
 * @param username
 * @param token
 * @param projectKey
 * @param callbackUrl
 * @param needFullname
 * @param fullname
 */
{template .setPasswordForm}
<div id="agent-set-password-page">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-content">
                <div class="cv-reset-password-form">
                    <h1>{getText('sd.agent.setpassword.title')}</h1>
                    <p>
                    {getText('sd.agent.setpassword.welcome.text')}
                    </p>
                    <form action="#" class="aui js-set-password" method="post">
                        <div class="form-body">
                            <fieldset>
                                <div class="field-group">
                                    <label for="reset-password-user-name">{getText('sd.agent.setpassword.label.username')}</label>
                                    <span class="field-value" id="reset-password-user-name">{$username}</span>
                                </div>
                                {if $needFullname}
                                    <div class="field-group">
                                        <label for="fullname">{getText('sd.agent.setpassword.label.fullname')}</label>
                                        <input class="password-score-words text" name="fullname" id="fullname" type="text" />
                                    </div>
                                {/if}
                                <div class="field-group">
                                    <label for="password">{getText('sd.agent.setpassword.label.password')}</label>

                                    <span id="js-password-meter-bubble-container">
                                        <input class="js-new-password-field text" name="password" id="password" type="password" />
                                        {call ServiceDesk.Templates.HelpBubble.container}
                                            {param after: true /}
                                        {/call}
                                    </span>
                                </div>

                                <div class="field-group">
                                    <label for="confirm">{getText('sd.agent.setpassword.label.confirm')}</label>
                                    <input class="js-confirm-password-field text" name="confirm" id="confirm" type="password" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="buttons-container form-footer">
                            <div class="buttons">
                                <button class="aui-button aui-button-primary aui-style js-submit-button" type="submit">{getText('sd.agent.setpassword.button.save')}</button>
                                <span class="cv-sd-status js-status"></span>
                                <p>{getText('sd.agent.setpassword.already.have.password')}{sp}
                                <a class="aui-button aui-button-link js-login-url" href="{contextPath()}/login.jsp?os_destination={$callbackUrl|escapeUri}" tabindex="-1">{getText('sd.agent.setpassword.button.login')}</a>
                                </p>
                            </div>
                        </div>
                        <input type="hidden" name="username" value="{$username}" />
                        <input type="hidden" name="token" value="{$token}" />
                        <input type="hidden" name="projectKey" value="{$projectKey}" />
                        <input type="hidden" name="callbackUrl" value="{$callbackUrl}" />
                        {if not $needFullname}
                            <input class="text" name="fullname" type="hidden" value="{$fullname}" />
                        {/if}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/template}
