{namespace ServiceDesk.Templates.Agent.SetPassword}

/**
 * @param jsonPayload
 */
{template .page}
<html>
    <head>
        <meta name="jsonPayload" content="{$jsonPayload}" />
        <title>{getText('sd.agent.setpassword.title')}</title>
    </head>
    <body class="agent-set-password-page-body">
        <div id="agent-set-password-page">
        </div>
    </body>
{/template}
