{namespace ServiceDesk.Templates.AtlaskitEditorSkeleton}

/**
 * Loading panel for editor skeleton
 */
{template .loadingPanel}
    <div class="cp-textarea-loading">
        <div class="cp-text-area-loading--icons">
        </div>
        <aui-spinner size="small"></aui-spinner>
    </div>
{/template}