{namespace ServiceDesk.Templates.Customer.Layouts.Page}

/**
 * All portals page
 */
{template .oneColNoTitle}
<div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
    </div>
</div>
{/template}

