{namespace ServiceDesk.Customer.Feature.UserPicker.Templates}

/**
* @param fieldId to be used as id and name for input
*/
{template .field}
<input type="hidden" name="{$fieldId}" id="{$fieldId}" />
{/template}
