{namespace ServiceDesk.Templates.Customer.Layouts.Page}

/**
 * Layout for rendering KB articles inside the portal without a dialog
 */
{template .kbPortalViewLayout}
    <div class="aui-page-panel-inner cv-kb-portal-view-inner">
        <div class="aui-page-panel-content cv-kb-portal-view-content"></div>
    </div>
{/template}