{namespace ServiceDesk.Jira.Mail}

/**
 * Edit dialog
 */
{template .editMailHandler}
    <div class="form-body">
        <div class="aui-message aui-message-warning">
            <p>{getText('sd.email.handler.edit.do.not.change', getText('sd.email.handler.name'))}</p>
        </div>
    </div>
{/template}